Host code.deeproute.ai
    Hostname code.deeproute.ai
    User yuguo@deeproute.ai
    Port 2222
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/id_ed25519

Host github.com
    User andrew.guoyu@gmail.com
    Hostname github.com
    Port 22
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/github_ed25519